*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#container
{
    max-width: 800px;
    width:90%;
    margin:0 auto;
}


.grid
{
    display:grid;
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

#option-container
{
    margin-top:20px;
}

.option
{
    cursor: pointer;    
    padding:32px 5px;
    background-color: coral;
    border-radius: 20px;
    text-align: center;
    font-size:1.1rem;
}

